@use '../../../Scss/variable' as v;
@use '../../../Scss/mixins' as m;

* {
    @include m.m0p0;
}

.four-qualities {
    width: 100%;
    height: 100%;
    @include m.flex-center;

    &__container {
        width: 1000px;
        height: 100%;
        // @include m.flex-center;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: v.$spacing-4;
        // justify-content: space-between;

        @media screen and (max-width: v.$screen-md) {
            grid-template-columns: repeat(2, 1fr);
            gap: v.$spacing-16;
        }
        

        &__content {
            display: flex;
            flex-direction: column;
            gap: v.$spacing-4;
            // background-color: red;

            &__title {
                font-size: v.$font-size-sm;
                color: v.$text-primary;
                font-weight: v.$font-weight-light;
                display: flex;
                gap: v.$spacing-2;
            }

            &__description {
                font-size: v.$font-size-sm;
                color: v.$text-secondary;
                font-weight: v.$font-weight-light;
            }
        }
    }
}