@use '../../../Scss/variable' as v;
@use '../../../Scss/mixins' as m;

.tilted-wrapper2{
    height: 100%;
    width: 1500px;
    margin-left: -2.75%;

    img{
        height: 100%;
        width: 100%;
        background-size: contain;
        overflow-x: auto;
        // z-index: 9999;
        // border-radius: 10px;
        // border:1px solid v.$border-primary;
    }
}