@use '../../../Scss/variable' as v;
@use '../../../Scss/mixins' as m;


* {
    @include m.m0p0;
}

.colab {
    height: 100%;
    width: 100%;
    // background: red;
    @include m.flex-center;

    padding: v.$spacing-10 0;

    &__container {
        padding: v.$spacing-10 0;
        height: 100%;
        width: 1000px;
        // background: green;

        // overflow: hidden; // ----------------------------------------

        text-align: center;
        display: grid;
        gap: v.$spacing-20;
        // grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;

        @media screen and (max-width: v.$screen-lg) {
            width: 100%;
            padding: v.$spacing-10 0;
            // background: blue;
        }

        &__content {

            width: 100%;
            // height: 100%;
            // background: green;


            &__title {

                &.title {
                    font-size: v.$font-size-xl;
                    color: v.$text-primary;

                    @media screen and (max-width: v.$screen-lg) {
                        font-size: v.$font-size-base;
                        color: v.$text-secondary;
                    }
                }
                
                &.subtitle {
                    font-size: v.$font-size-xl;
                    color: v.$text-secondary;
                    
                    @media screen and (max-width: v.$screen-lg) {
                        font-size: v.$font-size-base;
                        color: v.$text-secondary;
                    }
                }
            }


        }

        &__logo-grid {

            height: 100%;
            width: 100%;
            overflow: hidden;

            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: v.$screen-lg) {
                display: unset;
            }

            &__logo-item {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: v.$spacing-16;
                
                // For lower resloutions then 1024px
                
                @media screen and (max-width: v.$screen-lg) {
                    width: fit-content;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    gap: v.$spacing-20;
                    white-space: nowrap;
                    animation: scrollLogos 10s linear infinite;
                    background: rgb(153, 205, 50);
                }

                @keyframes scrollLogos {
                    from {
                        transform: translateX(0%);
                    }

                    to {
                        transform: translate(calc(-100% + (v.$spacing-20)*13.5));
                    }
                }

                &__logo-container {

                    // background: red;
                    
                    &__logo-icon {
                        height: 100px;
                    }
                }
            }
        }
    }
}














// **********************************************************************************************************************

// .colab {
//     height: 100%;
//     width: 100%;
//     padding: v.$spacing-24 0;



// &__container {

//     background: red;
//     height: 100%;
//     width: 100%;
//     display: grid;
//     grid-template-rows: repeat(2, 1fr);

//     // @include m.flex-center;
//     // flex-direction: column;
//     // gap: v.$spacing-28;
//     // background: green;
//     // overflow: hidden;

//     &__content {
//         height: max-content;
//         background: green;
//     }

// }

// &__title {
//     @include m.subtitle-font;
//     font-weight: v.$font-weight-medium;
//     text-align: center;
//     width: 100%;

//     &.title {
//         color: v.$text-primary;

//         @media screen and (max-width: v.$screen-md) {
//             font-size: v.$font-size-base;
//             color: v.$text-secondary;
//         }
//     }

//     &.subtitle {
//         @include m.subtitle-font;
//         font-weight: v.$font-weight-medium;
//         text-align: center;
//         width: 100%;

//         @media screen and (max-width: v.$screen-md) {
//             font-size: v.$font-size-sm;
//             color: v.$text-secondary;
//         }
//     }
// }

// // Colab GRID k liye 
// &__logos-grid {
//     // @include m.flex-center;

//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 5rem 10rem;
//     max-width: 1000px;
//     height: 1000px;
//     align-items: start;
//     justify-content: start;

//     // justify-content: left;
//     background: red;




// Logo Item

// &__logo-item {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 5rem 10rem;
//     max-width: 1000px;
//     align-items: start;
//     justify-content: start;

//     @media screen and (max-width: v.$screen-lg) {
//         display: flex;
//         gap: 3rem;
//         white-space: nowrap;
//         overflow-x: scroll;
//         animation: scrollLogos 10s linear infinite;

//         max-width: fit-content;
//         // padding: 0 v.$spacing-20;
//         // background: blue;
//     }

//     @keyframes scrollLogos {

//         from {
//             transform: translateX(0%);
//         }

//         to {
//             transform: translate(-100%);
//         }
//     }
// }
//     }
// }

// .logo-item-2 {

//     @media screen and (min-width: v.$screen-lg) {
//         display: none;
//     }
// }