@use '../../../Scss/variable' as v;
@use '../../../Scss/mixins' as m;

* {
    @include m.m0p0;
}

.hero1 {

    @include m.hero-H-W;

    &__container {
        height: 100%;
        width: 100%;
    }

    &__content {
        width: 100%;
        @include m.flex-center;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: blue;

        &__container {
            width: 1000px;
            @include m.flex-center;
            flex-direction: column;
            align-items: flex-start;

            @media screen and (max-width: v.$screen-md) {
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                gap: v.$spacing-4;
            }
        }
    }

    &__title1 {
        @include m.title-font;
        letter-spacing: -0.025em;
        line-height: 1.1;
        margin-bottom: v.$spacing-8;
        display: block;

        &__span {
            // display: inline-block;
            gap: v.$spacing-3;
        }

        .line-break {

            @media screen and (max-width: v.$screen-2xl) {
                display: none;
            }
        }

        @media screen and (max-width: v.$screen-md) {
            display: none;
        }
    }

    &__title2 {
        @media screen and (min-width: v.$screen-md) {
            display: none;
        }

        @media screen and (max-width: v.$screen-md) {
            @include m.title-font;
            letter-spacing: -0.025em;
            line-height: 1.1;
            margin-bottom: v.$spacing-4;
            display: inline-block;

            &__span {
                gap: v.$spacing-3;
            }
        }
    }

    &__description {
        @include m.subtitle-font;
        margin-bottom: v.$spacing-12;

        @media screen and (max-width: v.$screen-md) {
            padding: 0 v.$spacing-4;
            display: none;
        }
    }

    &__description2 {
        display: none;        
        @include m.subtitle-font;
        margin-bottom: v.$spacing-12;

        @media screen and (max-width: v.$screen-md) {
            display: inline-block;
        }
    }

    &__buttons {
        @include m.flex-center;
        justify-content: left;
        gap: v.$spacing-8;
        margin-bottom: v.$spacing-12;

        @media screen and (max-width: v.$screen-md) {
            flex-direction: column;
            gap: v.$spacing-4;
        }

        &__primary {
            @include m.btn_primary;
            font-weight: v.$font-weight-semi-bold;
            padding: v.$spacing-3 v.$spacing-5;
            // font-weight: v.$font-weight-medium;
            font-size: v.$font-size-sm;
        }

        &__ghost {
            @include m.btn_ghost;
            padding: v.$spacing-3 v.$spacing-5;
            font-weight: v.$font-weight-medium;
            font-size: v.$font-size-sm;

            background: linear-gradient(135deg, v.$text-primary, v.$text-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;

        }
    }

}